<div class="perfBookmarklet">
  <button class="perfBookmarklet--close-button">close</button>
  <label>
    Filter:
    <input type="text" class="perfBookmarklet--filter"></input>
  </label>
  <button class="perfBookmarklet--dock">Dock</button>
  <div class="perfBookmarklet--perfChart">
    {{#each .}}
      <div class="perfBookmarklet--item-wrapper">
        <span class="perfBookmarklet--label">{{label}}</span>
        <span class="perfBookmarklet--item-bar">
          <span class="perfBookmarklet--item-bar--active">
            <span class="perfBookmarklet--start">{{start}}ms</span>
            {{#if duration}}{{duration}}ms{{/if}}
          </span>
        </span>
      </div>
    {{/each}}
  </div>
</div>
