.perfBookmarklet {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  max-height: 300px;
  overflow: scroll;

  &.docked {
    position: relative;
  }
}

.perfBookmarklet--close-button {
  right: 0;
  background: #eee;
  font-size: .7em;
  border-radius: 3px;
  border: 1px solid #eee;
}

.perfBookmarklet--dock {
  background: #bbb;
  font-size: .7em;
  border-radius: 3px;
  border: 1px solid #eee;
}

.perfBookmarklet--item-bar {
  display: inline-block;
  background: #eee;
  height: 14px;
  width: 100%;
  box-sizing: border-box;
}

.perfBookmarklet--item-bar--active {
  color: #fff;
  font-size: .7em;
  display: inline-block;
  height: 100%;
  padding-left: 2px;
  top: -4px;
  position: relative;

  .perfBookmarklet--measure & {
    background: #97bbcd;
  }

  .perfBookmarklet--mark & {
    background: #6aad6a;
  }
}

.perfBookmarklet--start {
  font-size: 0.6em;
  color: #888;
}

.perfBookmarklet--label {
  font-size: 0.7em;
  display: inline-flex;
  box-sizing: border-box;

  .perfBookmarklet--measure & {
    color: #97bbcd;
  }

  .perfBookmarklet--mark & {
    color: #6aad6a;
  }
}
